<style>
body {
  background-image: url('<%= @playlist.img_url %>');
  background-size: cover;
}
</style>

<!-- It's better to add classes to style elements then to style them in HMTL with tags like <strong> etc. This way, it's less work if you want to make a stylistic change to all of your headers- you don't have to replace a bunch of strong/i/b/etc tags manually this way.

 In terms of the display, I would also introduce greater visual separation between your songs and the playlist: maybe enlarge the playlist-name header and/or add some space in between the header and songs. Maybe make a separate div for your songs. Overall your views look good. -->
<div>
  <p>
    <strong>Playlist:</strong>
    <%= @playlist.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @playlist.description %>
  </p>

  <h2>Songs</h2>

  <% @playlist.songs.each do |song| %>
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= song.year %>
  </p>


<% end %>

  <h2>Add a Song:</h2>
  <%= form_for([@playlist, @playlist.songs.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>

  <p>
    <%= f.label :album %><br>
    <%= f.text_field :album %>
  </p>
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label :song_url %><br>
    <%= f.text_field :song_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

  <p>
    <%= link_to 'Back', playlists_path %>
    <%= link_to 'Edit', edit_playlist_path %>
  </p>
</div>
</body>
